  <table>
      <tr>
          <td colspan="2" class="title">New group</td>
      </tr>
      <tr>
          <td colspan="2">
              <div class="col-md-9"><input type="text" [(ngModel)]="model.Name" id="name" name="name" autocomplete="name"/></div>
              <div class="error col-12">{{errors}}</div>
          </td>
      </tr>
      <tr>
          <td class="text-center" style="width:50%"><button type="submit" class="col-md-2 btn btn-main my-2" (click)="create()">Add</button></td>
          <td class="text-center" style="width:50%"><button class="btn-secondary" (click)="cancel()">Cancel</button></td>
      </tr>
  </table>
  