<div class="container-fluid bg-main p-0 sticky-top">
  <div class="container p-0">
      <nav class="navbar py-1 font-weight-bold navbar-expand justify-content-md-around navbar-dark">
          <div class="collapse navbar-collapse justify-content-center" id="nav">
              <ul class="navbar-nav flex-fill w-100 flex-nowrap justify-content-start">
                  <li class="nav-item">
                      <a route-link="home" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a route-link="group" class="nav-link">Groups</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</div>