@import '../../colors.scss';

*{
    font-size: 1.2rem;
}

.nav-link, .nav-link:active {
    color: darken($main, 45%) !important;
    font-weight: 600;
}

.nav-link:hover {
    color: black !important;
}

.nav-link.active{
    border: 0;
    color: darken($main, 70%) !important;
}

.navbar{
    background-color: $main;
}