<div *ngIf="groupList && groupList.length == 0">
    <h6 class="text-center">Group list is empty</h6>
</div>

<mat-grid-list cols="2" rowHeight="">
    <mat-grid-tile class="tab">
        <table mat-table [dataSource]="groupList">
            <ng-container matColumnDef="Name">
                <td mat-cell *matCellDef="let item"><a routerLink="/group/{{item.Name}}" class="pointer">{{item.Name}}</a></td>
                <td mat-footer-cell *matFooterCellDef colspan="2"><a class="pointer" (click)="showCreation()">Add new</a></td>
            </ng-container>
            <ng-container matColumnDef="Del">
                <td mat-cell *matCellDef="let item" class="icon"><a class="pointer text-center" (click)="showRemoving(item.Guid)" *ngIf="roleService.isAdmin()">❌</a></td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['Name', 'Del'];"></tr>
            <tr mat-footer-row *matFooterRowDef="['Name', 'Del']"></tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile class="tab">
        <app-group-remove *ngIf="showGroupDeleting && !showGroupCreation"></app-group-remove>
        <app-group-create *ngIf="showGroupCreation && !showGroupDeleting"></app-group-create>
    </mat-grid-tile>
</mat-grid-list>