@import '../../tables.scss';

.icon{
    padding: 0 !important;
    margin: auto;
    width: 1rem;
}

table{
    width: 80%;
    top:0;
}

::ng-deep .tab figure{
    align-items: flex-start !important;
}

::ng-deep thead tr{
    height: 1rem !important;
}
