<div class="text-center">
    <h3>Registered user</h3>
    <div class="error">{{errors.Sum}}</div>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" [(ngModel)]="model.Email"/>
        <mat-hint class="error">{{errors.Email}}</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="model.Password"/>
        <mat-hint class="error">{{errors.Password}}</mat-hint>
    </mat-form-field>
    <br>
    <button mat-button class="btn" (click)="signIn()">Sign in</button>
    <br>
</div>
<a class="right" routerLink="../signup">Create an account</a>