<h4 class="text-center">Person info</h4>

<div *ngIf="person">
    <table class="user-info w100">        
        <tr class="v-none"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td colspan="4">First name</td>
            <td colspan="14"><input type="text" [(ngModel)]="person.FirstName"/></td>
        </tr>
        <tr>
            <td colspan="4">Last name</td>
            <td colspan="14"><input type="text" [(ngModel)]="person.LastName"/></td>
        </tr>
        <tr>
            <td colspan="4">Nationality</td>
            <td colspan="5"><input type="text" [(ngModel)]="person.Nationality"/></td>
            <td colspan="4">Birth date</td>
            <td colspan="5"><input type="text" [(ngModel)]="person.BirthDate"/></td>
        </tr>
        <tr>
            <td colspan="4">Address</td>
            <td colspan="14"><input type="text" [(ngModel)]="person.Address"/></td>
        </tr>
        <tr>
            <td colspan="4">Width</td>
            <td colspan="2"><input type="number" [(ngModel)]="person.Width"/></td>
            <td colspan="4">Height</td>
            <td colspan="2"><input type="number" [(ngModel)]="person.Height"/></td>
            <td colspan="4">Blood group</td>
            <td colspan="2"><input type="text" [(ngModel)]="person.BloodGroup"/></td>
        </tr>
        <tr>
            <td colspan="4">Email</td>
            <td colspan="14"><input type="text" [(ngModel)]="person.Email"/></td>
        </tr>
        <!--User is admin or user is manager and password is null or user is me-->
        <tr >
            <td colspan="4">Password</td>
            <td colspan="5"><input type="password" [(ngModel)]="person.Password"/></td>
            <td colspan="4">Password confirm</td>
            <td colspan="5"><input type="password" [(ngModel)]="person.PasswordConfirm"/></td>
        </tr>
    </table>
    <table class="w100">
        <tr class="no-border">
            <td class="text-right"><button class="btn-success" (click)="update()">Confirm</button></td>
            <td><button class="btn-secondary" (click)="goBack()">Back</button></td>
        </tr>
        <tr class="no-border">
            <td colspan="2" *ngIf="success" class="success" (click)="hideSuccess()">Changes were succesfully saved</td>
            <td colspan="2" *ngIf="!success && errors" class="errors">{{errors}}</td>
        </tr>
    </table>
    <div style="width: 50%">
        <app-membership-list></app-membership-list>
    </div>
</div>

<div *ngIf="!person" class="row justify-content-center">
    <button class="col-2 btn btn-secondary" (click)="goBack()">Back</button>
</div>

