<div class="text-center">
    <h3>New user</h3>
    <div class="error">{{errors.Sum}}</div>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" [(ngModel)]="model.Email"/>
        <mat-hint class="error">{{errors.Email}}</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="model.Password"/>
        <mat-hint class="error">{{errors.Password}}</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Confirm</mat-label>
        <input matInput type="password" [(ngModel)]="model.Confirm"/>
        <mat-hint class="error">{{errors.Confirm}}</mat-hint>
    </mat-form-field>
    <br>
    <button mat-button type="submit" class="btn" (click)="signUp()">Sign up</button>
    <br>
</div>
<a class="right" routerLink="../signin">Have an account?</a>