$darkening: 50%;
$lightening: 5%;

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        font-weight: bold;
        border: solid 2px darken($value, $darkening);
        background-color: lighten($value, $lightening);
        color: darken($value, $darkening);
    }

    .btn-#{$color}:hover {
        border: solid 2px darken($value, $darkening);
    }
}
