@import 'colors.scss';

td input, td select{
    padding: 0px 10px;
    background-color: lighten($main, 60%);
    width: 100%;
    border: 1px solid darken($main, 40%);
}

.error {
    text-align: center;
    color: $danger;
}

.success {
    text-align: center;
    color: $success;
}

.text-center{text-align: center;}
.text-right{text-align: right;}
.right{float: right;}

mat-form-field{
    display: inline-block !important;
    min-width: 30%;
}