.nav-link, .nav-link:active {
    color: darken($main, 40%) !important;
}

.nav-link:hover {
    color: darken($main, 70%) !important;
}

a.active {
    border-bottom: solid 5px $main;
}

.pointer{
    cursor: pointer;
}

.nav-link.active{
    border: 0;
    color: darken($main, 70%) !important;
}