$main: #99ccdd;
$warning: #c70;
$dark: #222;
$theme-colors: ( "main": $main );
$border-radius: 1rem !default;
$input-btn-padding-y: .25rem;
$input-btn-padding-x: .5rem;
@import 'bootstrap/bootstrap.scss';
@import 'links.scss';
@import 'forms.scss';
@import 'buttons.scss';
@import 'grid.scss';

body {
    padding: 0;
}
