<table>
    <tr>
        <td colspan="2" class="title">Type in the name of group to confirm deleting</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="text" [(ngModel)]="name" id="name" name="name" autocomplete="name"/>
            <div class="error">{{errors}}</div>
        </td>
    </tr>
    <tr>
        <td class="text-center" style="width:50%"><button type="submit" class="btn-danger" (click)="delete()">Confirm</button></td>
        <td class="text-center" style="width:50%"><button class="btn-secondary" (click)="cancel()">Cancel</button></td>
    </tr>
</table>
